@using ParcelService.Models;

<h1>Defenitely not a ToDoList Clone AKA: Parcels</h1>

@if (Model.Count == 0)
{
  <p>There are no parcels in the cart.</p>
}
<ul>
@{int i = 0;
  @foreach (Parcel item in Model)
  {
    i ++;
    <h2>Parcel @i</h2>
    <h3>Height:</h3>
    <li>@item.Height</li>
    <h3>Width:</h3>
    <li>@item.Width</li>
    <h3>Length:</h3>
    <li>@item.Length</li>
    <h3>Volume:</h3>
    <li>@item.Volume()</li>
    <br>
  }
}
</ul>
    
    @{List<Parcel> result = Parcel.GetAll();
    int cost = 0;
    foreach(Parcel item in result){
      cost += item.CostToShip();
    }}

    <h2>Total Price:</h2>
    <h3>$@cost</h3>

<a href="/parcels/new">Add a new parcel.</a>